A, A:visited {
	color: #BC6030;
}

A:hover {
	color: #BC6030;
	text-decoration: none;
}

#bd {
	width:1000px;
	margin: 0 auto;
}

#members A.logout {
	color: #22355F;
}

#members A.logout:hover {
	color: #BC6030;
}

#header-wrapper {
	background: #FFFFFF url(http://www.library.org.nz/images/opac/banner-bg-inner.jpg) no-repeat scroll 0 0;
}

#headmenu {
	clear: both;
	width: 1000px;
	height: 55px;
}

#headmenu UL {
	margin:0;
	padding: 3px 0 0 364px;
}

#headmenu UL LI {
	list-style-type: none;
	padding:0 2px;
	float:left;
	margin:0;
}

#headmenu UL LI A {
	text-decoration: none;
	color: #22355F;
}

#headmenu UL LI A:hover {
	color: #BC6030;
}

#headmenu UL LI A DIV {
	width: 100px;
	height: 30px;
	text-align: center;
}

#members {
	background-color: transparent;
	margin-left: 0;
	margin-right: 0;
	padding: 4px 12px 0 0;
	font-size: 95%;
}

#members a {
	color: #22355F;
}

#opac-main-search {
	margin-left: 0;
	margin-right: 0;
	background-image: none;
	background-color: transparent;
	border: 0px solid #FFF;
	padding: 0 0 1.7em 0;
}

#opac-main-search FORM {
	display:block;
}

h1#libraryname {
	width: 210px;
	position: relative;
	top: -40px;
	left: 0px;
	background-image: url(http://www.library.org.nz/images/opac/insidepage-logo.gif);
	background-repeat: no-repeat;
	background-position: top right;
}

h1#libraryname A {
	width: 500px;
	margin-left: -300px! important;
	padding-top: 50px;
}

#fluid {
	margin-left: 355px;
	*margin-left: 145px;
	_margin-left: 145px;
	position: absolute;
	width: 630px !important;
	top: 70px;
}

#fluid-offset {
	padding-top: 0px;
}

#searchform LABEL {
	display: none;
}

#masthead_search {
	margin: 10px 0 0 0;
	_margin: 2px 10px 0 0;
}

#searchform INPUT[type=text] {
	margin: 9px 2px 0 10px;
}

#searchsubmit {
	font-size : 100%;
	font-weight : bold;
	padding: 9px 10px;
	margin: 8px 0 0 2px;
	_margin: 0px 0 0 2px;
}

A#cartmenulink, A#cartmenulink:hover, A#listsmenulink, A#listsmenulink:hover {
	color: #FFF;
}

A#cartmenulink, #cartmenulink[class] {
	background-image: url(http://www.library.org.nz/images/opac/cart-bg-right.gif);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	padding: 0px;
}

A#listsmenulink, #listsmenulink[class] {
	background-image: url(http://www.library.org.nz/images/opac/lists-bg-right.gif);
	background-position: 100% 0%;
	background-repeat: no-repeat;
	padding: 0px;
}

#cartmenulink, #listsmenulink, #cartmenulink *, #listsmenulink * {
	background: transparent;
}

A#cartmenulink DIV {
	background-image: url(http://www.library.org.nz/images/opac/cart-bg-left.gif);
	padding: 7px 7px 5px 25px;
	*padding: 3px 7px 5px 25px;
	_padding: 7px 7px 9px 25px;	
	background-repeat: no-repeat;
	_width: 75px;
}

A#listsmenulink DIV {
	background-image: url(http://www.library.org.nz/images/opac/lists-bg-left.gif);
	padding: 7px 7px 5px 7px;
	*padding: 3px 7px 5px 7px;
	_padding: 7px 7px 9px 7px;	
	background-repeat: no-repeat;
	_width: 75px;
}

A#cartmenulink, A#cartmenulink:hover {
	margin-left: 10px;
	border: 0px solid #FFF;
	background: transparent url(http://www.library.org.nz/images/opac/cart-bg-right.gif) no-repeat scroll top right;
}

A#listsmenulink, A#listsmenulink:hover {
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	border: 0px solid #FFF;
	background: transparent url(http://www.library.org.nz/images/opac/lists-bg-right.gif) no-repeat scroll top right;
}

#cartmenulink img {
	display: none;
}

#cartmenulink span { _margin: -6px 0 0 12px; }

#moresearches {
	margin-top: 4.3em;
	margin-right: 1em;
	text-align: right;
	color: #FFF;
}

.clear {
	clear: both;
	height: 0px;
}

.on-homepage H3 {
	color: #22355F;
	margin: 15px 0 2px 10px;
	font-size: 110%;
}

#breadcrumbs {
	*margin-top: -57px;
	_margin-top: -5px;	
}

DIV#menu {
	border: 0px solid #FFF;
	margin: 0;
}

DIV#menu UL {
	padding: 0;
}

DIV#menu LI {
	list-style-type: none;
	_margin-bottom: -16px;
}

DIV#menu LI A, DIV#menu UL LI.active A {
	background-color: #EAEDF4;
	display: block;
	padding: 5px 10px;
	border-top: 0px solid #DCDFE4;
	border-bottom: 1px solid #DCDFE4;
	border-left: 1px solid #DCDFE4;
	border-right: 1px solid #DCDFE4;
	color: #6E7B97;
	font-size: 90%;
	text-decoration: none;
	background-image: none;
	margin: 0px;
}

DIV#menu UL LI.active A {
	background-color: #FFFFFF;
}

DIV#menu LI A._first {
	background: #EAEDF4 url(http://www.library.org.nz/images/opac/left_menu_top.gif) no-repeat scroll 0 0;
	border-bottom: 1px solid #DCDFE4;
	border-left: 0px solid #DCDFE4;
	border-right: 0px solid #DCDFE4;
}

DIV#menu LI A._last {
	background: #EAEDF4 url(http://www.library.org.nz/images/opac/left_menu_bottom.gif) no-repeat scroll bottom left;
	border-bottom: 0px solid #DCDFE4;
	border-left: 0px solid #DCDFE4;
	border-right: 0px solid #DCDFE4;
}

DIV#menu LI A:hover,  DIV#menu UL LI.active A:hover {
	background-color: #ADBCD3;
	text-decoration: none;
	font-weight: bold;
	color: #0D0E10;
	background-image: none;
	margin: 0px;
}

DIV#menu LI A._first:hover {
	background: #ADBCD3 url(http://www.library.org.nz/images/opac/left_menu_top.gif) no-repeat scroll 0 0;
}

DIV#menu LI A._last:hover {
	background: #ADBCD3 url(http://www.library.org.nz/images/opac/left_menu_bottom.gif) no-repeat scroll bottom left;
}

.yui-t1 #yui-main .yui-b {
	margin-left:15em;
}

.yui-t1 .yui-b {
	width:13.1em;
}

#news {
	width: 288px;
	float: left;
	margin-right: 20px;
}

#news TABLE, #news TH, #news TD {
	border: 0px solid #FFFFFF;
	padding: 0px;
}

#news TH {
	color: #6E7B97;
	background-color: #FFFFFF;
}

#news TD P {
	margin: 0 0 1.4em 0;
}

#opacmainuserblock {
	width: 288px;
	float: left;
}

#hrecent H3 {
	color:#22355F;
	margin-bottom: 2px;
}

#login FIELDSET {
	background: #FFFFFF url(http://www.library.org.nz/images/opac/login-bg.jpg) no-repeat scroll 0px 10px;
	border: 0px solid #FFF;
}

#login FIELDSET FIELDSET {
	background: transparent;
}

fieldset.brief legend {
	color: #22355F;
}

fieldset.brief input {
	font-size: 100%;
}

#login FIELDSET INPUT[type=submit] {
	background: #506080 url(http://www.library.org.nz/images/opac/login-button.jpg) no-repeat scroll 0 0;	
	border: 0px solid #FFF;
	color: #FFF;
	padding: 5px 11px;
}

.ft {
	background: #33537C url(http://www.library.org.nz/images/opac/footer-top.gif) no-repeat scroll 0 0;	
	margin: 10px auto;
	width:980px;
	*width: 1000px;
	_width: 980px;	
	padding: 3px 10px;
	color: #FFF;
}

.on-homepage {
	display: none;
}

H3 {
	color: #22355F;
}

