<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging Authority Plugin</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
    #custom-doc { width:51.46em;*width:50.17em;min-width:675px; margin:auto; text-align:left; }
</style>
<script type="text/javascript">
    function jumpfull(page) {
        window.open(page,'','fullscreen,scrollbars');
    }
</script>
</head>

<body>
<div id="custom-doc" class="yui-t7">
    <div id="bd">
        <div id="yui-main">
            <div class="yui-b">
                <div class="yui-g">
                    <h1>Authority search results</h1>
                    <!-- TMPL_INCLUDE NAME="auth-finder-search.inc" -->
                    <!-- TMPL_IF name="total" -->
                        <p><b><!-- TMPL_VAR NAME="total" --> results</b></p>
                    <!-- TMPL_ELSE -->
                        <p>No results found</p>
                    <!-- /TMPL_IF -->
                </div>
                <!-- TMPL_IF NAME="result" -->
                    <!-- TMPL_INCLUDE NAME="page-numbers.inc" -->
                        <div id="resultlist">
                        <table>
                            <tr>
                                <th>Summary</th>
                                <th>Used</th>
                                <th>Get It!</th>
                                <th>Other action</th>
                            </tr>
                            <!-- TMPL_LOOP NAME="result" -->
                                <tr>
                                    <td><!-- TMPL_VAR NAME="summary" --></td>
                                    <td><!-- TMPL_VAR NAME="used" --> times</td>
                                    <td><a href="javascript:jumpfull('blinddetail-biblio-search.pl?authid=<!-- TMPL_VAR NAME="authid" -->&amp;index=<!-- TMPL_VAR NAME="index" -->')">choose</a></td>
                                    <td><a href="authorities.pl?authid=<!-- TMPL_VAR NAME="authid" -->">Edit authority</a></td>
                                </tr>
                            <!-- /TMPL_LOOP -->
                        </table>
                    </div>
                <!-- /TMPL_IF -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
