<TMPL_INCLUDE name="acquisitions-top.inc">

<div class="breadcrumb"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &gt; Acquisitions</div>
<h1>Budgets &amp; Bookfunds</h1>
<h2>Committed</h2>
<br /><br />


<table cellspacing="0" cellpadding="0" border="0" id="spent" class="collapse">
<tr valign="top">
   <td class="cell-header">
	 	Title
	</td>
	<td class="cell-header">
	 	Order
	</td>
	<td class="cell-header">
	 	Itemtype
	</td>
	<td class="cell-header">
		Left on Order
	</td>
	<td class="cell-header">
		Estimated cost per unit
	</td>
	<td class="cell-header">
		Budget Date
	</td>
	<td class="cell-header">
		Subtotal
	</td>
</tr>

<!--TMPL_LOOP NAME="ordered"-->
	<!--TMPL_IF name="toggle"-->
		<tr valign="top" class="hilighted">
	<!--TMPL_ELSE-->
		<tr valign="top" class="hilighted2">
	<!--/TMPL_IF-->
	<tr valign="top">
		<td class="cell">
			<!--TMPL_VAR NAME="title"-->	
		</td>
		<td class="cell">
				<a href=/cgi-bin/koha/acqui/newbiblio.pl?ordnum=<!--TMPL_VAR NAME="ordernumber"-->&booksellerid=<!--TMPL_VAR NAME="booksellerid"-->&basket=<!--TMPL_VAR NAME="basketno"-->><!--TMPL_VAR NAME="ordernumber"--></a>
		</td>
		<td class="cell">
			<!--TMPL_VAR NAME="itype"-->	
		</td>
		<td class="cell">
			<!--TMPL_VAR NAME="left"-->	
		</td>
		<td class="cell">
			<!--TMPL_VAR NAME="ecost"-->	
		</td>
		<td class="cell">
			<!--TMPL_VAR NAME="budgetdate"-->	
		</td>
		<td class="cell">
			<!--TMPL_VAR NAME="subtotal"-->		
		</td>
</tr>
<!--/TMPL_LOOP-->

<tr valign="top">
   <td class="cell-header">
	 	Total
	</td>
	<td class="cell-header">
	 	
	</td>
	<td class="cell-header">
	 	
	</td>
	<td class="cell-header">
		
	</td>
	<td class="cell-header">
		
	</td>
	<td class="cell-header">
		
	</td>
	<td class="cell-header">
		<!--TMPL_VAR NAME="total"-->
	</td>
</tr>

</table>



<TMPL_INCLUDE NAME="acquisitions-bottom.inc">
