<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; <!-- TMPL_IF name="date" -->
            Receipt Summary for <!-- TMPL_VAR NAME="name" --> <!--TMPL_IF Name="invoice"-->Invoice <!-- TMPL_VAR NAME="invoice" --><!--/TMPL_IF --> on <!-- TMPL_VAR NAME="formatteddatereceived" --><!-- TMPL_ELSE -->Receive Orders from <!-- TMPL_VAR NAME="name" --><!-- /TMPL_IF --></title>
    <link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME='themelang' -->/css/datatables.css" />
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME="yuipath" -->/json/json-min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/lib/jquery/plugins/jquery.json.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/lib/jquery/plugins/jquery.session.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/lib/jquery/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/datatables.js"></script>
<script type="text/JavaScript">
//<![CDATA[
    var pendingt;
    var sticky_filters = <!-- TMPL_VAR NAME='sticky_filters' -->;

    $(document).ready(function(){
        if(sticky_filters) {
            $("#summaryfilter").val($.session("parcel_summary"));
            $("#basketfilter").val($.session("parcel_basket"));
            $("#orderfilter").val($.session("parcel_order"));
            $("#basketgroupnamefilter").val($.session("parcel_basketgroupname"));
        } else {
            $.session("parcel_summary", []);
            $.session("parcel_basket", []);
            $.session("parcel_order", []);
            $.session("parcel_basketgroupname", []);
        }

        pendingt = $("#pendingt").dataTable($.extend(true, {}, dataTablesDefaults, {
            'bProcessing': true,
            'bServerSide': true,
            'sAjaxSource': '/cgi-bin/koha/acqui/tables/pendingorders.pl',
            'bAutoWidth':false,
            'fnServerData': function(sSource, aoData, fnCallback) {
                aoData.push({
                    'name': 'booksellerid',
                    'value': '<!-- TMPL_VAR NAME="supplierid" -->'
                },{
                    'name': 'invoicedatereceived',
                    'value': '<!-- TMPL_VAR NAME="invoicedatereceived" -->'
                },{
                    'name': 'invoice',
                    'value': '<!-- TMPL_VAR NAME="invoice" -->'
                },{
                    'name': 'isbn_author_title',
                    'value': $("#summaryfilter").val()
                },{
                    'name': 'basketno',
                    'value': $("#basketfilter").val()
                },{
                    'name': 'ordernumber',
                    'value': $("#orderfilter").val()
                },{
                    'name': 'basketgroupname',
                    'value': $("#basketgroupnamefilter").val()
                },{
                    'name': 'summary_sorton',
                    'value': 'biblio.title biblio.author biblioitems.isbn'
                });
                $.ajax({
                    'dataType': 'json',
                    'type': 'POST',
                    'url': sSource,
                    'data': aoData,
                    'success': fnCallback
                });
            },
            'fnFooterCallback': function(nFoot, aoData, iStart, iEnd, aiDisplay) {
                var iPageQty = 0;
                var iPageCost = 0;

                for(var i in aiDisplay) {
                    iPageQty += aoData[i].quantity*1;
                    iPageCost += aoData[i].ordertotal*1;
                }

                var nCells = nFoot.getElementsByTagName('td');
                nCells[1].innerHTML = iPageQty;
                nCells[3].innerHTML = iPageCost.toFixed(2);
            },
            'aoColumns': [
                { 'mDataProp': 'basketno' },
                { 'mDataProp': 'ordernumber' },
                { 'mDataProp': 'summary' },
                { 'mDataProp': 'viewrecord', 'bSortable':false },
                { 'mDataProp': 'quantity' },
                { 'mDataProp': 'ecost' },
                { 'mDataProp': 'ordertotal' },
                { 'mDataProp': 'action', 'bSortable':false }
            ],
            'sDom': 'ltipr',
            'sPaginationType': 'full_numbers'
        }) );
    });

     // Case-insensitive version of jquery's contains function
    jQuery.extend(jQuery.expr[':'], {
        icontains : "jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0"
    });

    // Contains exactly function
    jQuery.extend(jQuery.expr[':'], {
        containsExactly: "$(a).text() == m[3]"
    });

    // Launch filtering
    function filter() {
        var summaryStatus = jQuery.trim($("#summaryfilter").val());
        var basketStatus  = $("#basketfilter").val();
        var orderStatus   = $("#orderfilter").val();
        var basketgroupnameStatus = $("#basketgroupnamefilter").val();

        $.session('parcel_summary', summaryStatus);
        $.session('parcel_basket', basketStatus);
        $.session('parcel_order', orderStatus);
        $.session('parcel_basketgroupname', basketgroupnameStatus);

        if (summaryStatus == '' && basketStatus == ''
        && orderStatus == '' && basketgroupnameStatus == '') {
            clearFilters();
        } else {
            pendingt.fnDraw();
        }

        return false;
    }

    // Clear already applied filters
    function clearFilters() {
        $("#summaryfilter").val('');
        $("#basketfilter").val('');
        $("#orderfilter").val('');
        $("#basketgroupnamefilter").val('');

        $.session("parcel_summary", []);
        $.session("parcel_basket", []);
        $.session("parcel_order", []);
        $.session("parcel_basketgroupname", []);

        pendingt.fnDraw();
    }

//]]>
</script>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo;  <!-- TMPL_IF name="datereceived" -->
            Receipt Summary for <i><!-- TMPL_VAR NAME="name" --></i> <!--TMPL_IF Name="invoice"--><i>[ <!-- TMPL_VAR NAME="invoice" --> ]</i><!--/TMPL_IF --> on <i><!-- TMPL_VAR NAME="formatteddatereceived" --></i>
        <!-- TMPL_ELSE -->
            Receive orders from <!-- TMPL_VAR NAME="name" -->
        <!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">

   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	<!-- TMPL_IF NAME="receive_error" -->
	<div class="dialog alert">
	<h3>Error adding items:</h3>
	<ul>
	<!-- TMPL_LOOP NAME="error_loop" -->
		<li><!-- TMPL_VAR NAME="error_param" --><!-- TMPL_IF NAME="error_duplicate_barcode" -->Duplicate Barcode<!-- /TMPL_IF --> <!-- todo: other error conditions come here. --></li>
	<!-- /TMPL_LOOP -->
	</ul>
	</div>
	<!-- /TMPL_IF -->
    <h1>
        <!-- TMPL_IF name="datereceived" -->
            Receipt Summary for <i><!-- TMPL_VAR NAME="name" --></i> <!--TMPL_IF Name="invoice"--> <i> [ <!-- TMPL_VAR NAME="invoice" --> ] </i><!--/TMPL_IF --> on <i><!-- TMPL_VAR NAME="formatteddatereceived" --></i>
        <!-- TMPL_ELSE -->
            Receive orders from <!-- TMPL_VAR NAME="name" -->
        <!-- /TMPL_IF -->
    </h1>

    <!-- TMPL_IF NAME="success_delorder" -->
    <div class="dialog message">The order has been successfully canceled.</div>
    <!-- TMPL_ELSE -->
	<!-- TMPL_IF NAME="error_delitem" -->
	    <div class="dialog alert">The order has been canceled, although one or more items could not have been deleted.</div>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="error_delbiblio" -->
	    <div class="dialog alert">The order has been canceled, although the record has not been deleted.</div>
	<!-- /TMPL_IF -->
    <!-- /TMPL_IF -->

<div id="acqui_receive_summary">
<p><strong>Invoice number:</strong> <!-- TMPL_VAR NAME="invoice" --> <strong>Received by:</strong> <!-- TMPL_VAR NAME="loggedinusername" --> <strong>On:</strong> <!-- TMPL_VAR NAME="formatteddatereceived" --></p>
	<!-- TODO: Add date picker, change rcv date. -->
</div>
<div id="acqui_receive_search">
    <h3>Pending Orders</h3>

    <table id="pendingt" class="display">
        <thead>
            <tr>
                <th>Basket</th>
                <th>Order</th>
                <th>Summary</th>
                <th>View Record</th>
                <th>Quantity</th>
                <th>Unit cost</th>
                <th>Order cost</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr><td colspan="4" class="total">TOTAL</td>
                <td></td>
                <td>&nbsp;</td>
                <td></td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>
<div id="acqui_receive_receivelist" style="clear:both">
    <h3>Already Received</h3>
    <!-- TMPL_IF NAME='error_cancelling_receipt' -->
    <div class="dialog" style="text-align:left">
      <p>Cannot cancel receipt. Possible reasons :
      <ul>
        <li>
          You tried to cancel the receipt of an order line whose parent
          order line is already received. Cancel this parent order line and
          retry.
        </li>
        <li>Parent order line has been deleted.</li>
      </ul>
      Please consult logs for more details.
      </p>
    </div>
    <!-- /TMPL_IF -->

   <!-- TMPL_IF NAME="loop_received" -->
   <form action="/cgi-bin/koha/acqui/parcel.pl" method="get" name="orderform">
    <table id="receivedt">
        <thead>
	    <tr>
		<th>Basket</th>
		<th>Order</th>
    <th>Order line</th>
		<th>Summary</th>
		<th>View Record</th>
		<th>Quantity</th>  
		<th>Est cost</th>
		<th>Actual cost</th>
		<th>TOTAL</th>
    <th></th>
	    </tr>
	</thead>
<tfoot>
	    <tr>
		<td colspan="4" class="total">SUBTOTAL</td>
		<td colspan="2">&nbsp;</td>
		<td><!-- TMPL_VAR NAME="totalprice" --></td>
		<td><!-- TMPL_VAR NAME="tototal" --></td>
    <td></td>
    <td></td>
	    </tr>
	      
	    <!-- TMPL_IF NAME="totalfreight" -->
		    <tr>
			<td colspan="6">&nbsp;
			</td>
			<td>Shipping</td>
			<td><!-- TMPL_VAR NAME="totalfreight" --></td>
	    	</tr> 
	    <!-- /TMPL_IF -->
	    <!-- TMPL_IF NAME="gst" -->
		    <tr>
			<td colspan="6">
				<p class="message">
			    <b>HELP</b><br />
		    	The total at the bottom of the page should be within a few cents of the total for the invoice.
				</p>
			</td>
			<td><b>Tax rate</b></td>
			<td><!-- TMPL_VAR NAME="gst" --></td>
	    	</tr> 
	    <!-- /TMPL_IF -->
	    <tr>
	    <td colspan="4" class="total">TOTAL</td>
		<td><!-- TMPL_VAR NAME="totalquantity" --></td>
		<td colspan="2">&nbsp;</td>
		<td><!-- TMPL_VAR NAME="grandtot" --></td>
    <td></td>
    <td></td>
	    </tr>
    </tfoot>
	<tbody class="filterclass">
	    <!-- TMPL_LOOP NAME="loop_received" -->
        <!-- TMPL_UNLESS NAME="__odd__" -->
            <tr class="highlight">
        <!-- TMPL_ELSE -->
            <tr>
        <!-- /TMPL_UNLESS -->
                <td><a href="/cgi-bin/koha/acqui/basket.pl?basketno=<!-- TMPL_VAR NAME="basketno" -->"><!-- TMPL_VAR NAME="basketno" --></a></td>
                <td><a href="neworderempty.pl?ordernumber=<!-- TMPL_VAR NAME="ordernumber" -->&amp;booksellerid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="ordernumber" --></a></td>
                <td><!-- TMPL_VAR NAME='parent_ordernumber' --></td>
                <td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->"><!-- TMPL_VAR NAME="title" ESCAPE="html" --></a>
                <!-- TMPL_IF NAME="author" --> / <!-- TMPL_VAR NAME="author" --><!--/TMPL_IF-->
                <!-- TMPL_IF NAME="isbn" --> - <!-- TMPL_VAR NAME="isbn" --><!--/TMPL_IF-->
                <!-- TMPL_IF NAME="publishercode" --><br />Publisher :<!-- TMPL_VAR NAME="publishercode" --><!--/TMPL_IF-->
                </td>
                <td><a href="/cgi-bin/koha/catalogue/showmarc.pl?id=<!-- TMPL_VAR NAME="biblionumber" -->" title="MARC" rel="gb_page_center[600,500]">MARC</a> | <a href="/cgi-bin/koha/catalogue/showmarc.pl?viewas=card&amp;id=<!-- TMPL_VAR NAME="biblionumber" -->" title="MARC" rel="gb_page_center[600,500]">Card</a></td>
                <td><!-- TMPL_VAR NAME="quantityreceived" --></td>
                <td><!-- TMPL_VAR NAME="ecost" --></td>
                <td><!-- TMPL_VAR NAME="unitprice" --></td>
                <td><!-- TMPL_VAR NAME="total" --></td>
                <td><a href="/cgi-bin/koha/acqui/parcel.pl?invoice=<!-- TMPL_VAR NAME='invoice' -->&supplierid=<!-- TMPL_VAR NAME='supplierid' -->&datereceived=<!-- TMPL_VAR NAME='datereceived' -->&op=cancelreceipt&ordernumber=<!-- TMPL_VAR NAME='ordernumber' -->&sticky_filters=1">Cancel receipt</a></td>
            </tr>
	    <!-- /TMPL_LOOP -->
	</tbody>
    </table>
    </form>
	<!-- TMPL_ELSE -->There are no received orders.<!-- /TMPL_IF -->
</div>

</div>
</div>
<div class="yui-b">
<form action="/cgi-bin/koha/acqui/parcel.pl" id="filterform" onsubmit="return filter();">
        <fieldset class="brief">

            <h4>Filter</h4>

	    <ol>

		<li>
		    <label for="summaryfilter">ISBN, author or title :</label>
		    <input type="text" name="summaryfilter" id="summaryfilter" />
		</li>

		<li>
		    <label for="basketfilter">Basket :</label>
		    <input type="text" name="basketfilter" id="basketfilter" />
		</li>

		<li>
		    <label for="orderfilter">Order :</label>
		    <input type="text" name="orderfilter" id="orderfilter" />
		</li>
    <li>
        <label for="basketgroupnamefilter">Basket group name :</label>
        <input type="text" name="basketgroupnamefilter" id="basketgroupnamefilter" />
    </li>
	    </ol>
		<fieldset class="action">
		    <input type="submit" value="Filter" />
		    <a href="#" onclick="clearFilters();">Clear</a>
		</fieldset>


        </fieldset>
    </form>
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

