<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; Spent</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; Spent </div>

<div id="doc3" class="yui-t2">

<div id="bd">
    <div id="yui-main">
        <div class="yui-b">

<h1>Budgets &amp; Bookfunds</h1>
<h2>Spent</h2>


<table cellspacing="0" cellpadding="0" border="0" id="spent" class="collapse">
    <thead>
    <tr>
        <th> Title </th>
	<th> Order </th>
	<th> Supplier </th>
	<th> Invoice </th>
	<th> Itemtype </th>
	<th> Receieved </th>
	<th> Unit Price </th>
	<th> Date Received </th>
	<th> Subtotal </th>
    </tr>
    </thead>

<!--TMPL_LOOP NAME="spent"-->
	<!--TMPL_IF name="toggle"-->
    <tr class="hilighted">
	<!--TMPL_ELSE-->
    <tr class="hilighted2">
	<!--/TMPL_IF-->
	
	<td class="cell">
	    <!--TMPL_VAR NAME="title"-->	
	</td>
	<td class="cell">
            <a href="/cgi-bin/koha/acqui/orderreceive.pl?ordernumber=<!--TMPL_VAR NAME="ordernumber"-->&biblio=<!--TMPL_VAR NAME="biblionumber"-->&invoice=<!--TMPL_VAR NAME="booksellerinvoicenumber"-->&supplierid=<!--TMPL_VAR NAME="booksellerid"-->&catview=yes"><!--TMPL_VAR NAME="ordernumber"--></a>
	</td>
	<td class="cell">
	    <!--TMPL_VAR NAME="booksellerid"-->	
	</td>
	<td class="cell">
	    <a href="/cgi-bin/koha/acqui/parcel.pl?invoice=<!--TMPL_VAR NAME="booksellerinvoicenumber"-->&supplierid=<!--TMPL_VAR NAME="booksellerid"-->&datereceived=<!--TMPL_VAR NAME="datereceived"-->"><!--TMPL_VAR NAME="booksellerinvoicenumber"--></a>
	</td>
	<td class="cell">
	    <!--TMPL_VAR NAME="itemtype"-->	
	</td>
	<td class="cell">
	    <!--TMPL_VAR NAME="quantityreceived"-->	
	</td>
	<td class="cell" align="right">
	    <!--TMPL_VAR NAME="unitprice"-->		
	</td>
	<td class="cell">
	    <!--TMPL_VAR NAME="datereceived"-->		
	</td>
	<td class="cell" align="right">
	    <!--TMPL_VAR NAME="subtotal"-->		
	</td>
    </tr>
    <!--/TMPL_LOOP-->
    <tfoot>
        <tr valign="top">
        <td> Total </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td align="right">
		<!--TMPL_VAR NAME="total"-->
	</td>
        </tr>
    </tfoot>

</table>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
