[submodule "misc/sudoc"]
	path = misc/sudoc
	url = gitosis@git.biblibre.com:sudoc.git
[submodule "etc/solr"]
	path = etc/solr
	url = git://git.biblibre.com/solr_conf.git
[submodule "C4/rg-z3950-rpn"]
	path = C4/rg-z3950-rpn
	url = git://github.com/eiro/rg-z3950-rpn.git
