[% INCLUDE 'help-top.inc' %] <h1>Reserves awaiting pickup</h1>

<p>This report will show all of the reserves that are waiting for borrowers to pick them up.</p>

<p>Items that have been on the reserved shelf longer than you normally allow (based on the ReservesMaxPickUpDelay preference value) will appear on the 'Reservations Over' tab; they will not automatically be cancelled.</p>

<p><strong>See the full documentation for Reserves Awaiting Pickup in the <a href="http://manual.koha-community.org/3.6/en/circreports.html#holdspickup">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]