<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; Tools</div>

<div id="doc3">
<div id="bd">
	<div class="yui-gb">

<p>You do not have permission to download the database dump. It is
for superlibrarians only. Sorry.</p>

</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
