<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Circulation</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/JavaScript">
    //<![CDATA[
        $(document).ready(function() {
            $("#findborrower").focus();
        });
    //]]>
</script>
<script type="text/JavaScript">
    //<![CDATA[
        function validate() {
            $("#findborrower").submit();
        }
    //]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<h1 id="logo">
    <a>AM123</a>
</h1>
<div id ="header_search">
    <p class="tip">Scannez la carte de l'utilisateur, ou entrez son nom :</p>
    <form methode="post" action="/cgi-bin/koha/apharp/circulation-card.pl">
        <input type="text" id="findborrower" name="findborrower" class="focus yui-ac-input" size="40" onSubmit="validate()">
    </form>
    <!-- TMPL_IF NAME="invalid" -->
        <p id="invalid_card"><b><i>Carte n° <!-- TMPL_VAR NAME="cardnumber" -->, <!-- TMPL_VAR NAME="invalid" --></i></b></p>
        <!-- TMPL_IF NAME="missinglist" -->
            <li>
            <!-- TMPL_LOOP NAME="missinglist" -->
                <ul><!-- TMPL_VAR NAME="missing" --></ul>
            <!-- /TMPL_LOOP -->
            </li>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
</div>
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; Circulation</div>


