<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials &rsaquo; Advanced search</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <!-- TMPL_IF NAME="done_searched"--><a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Search results<!-- TMPL_ELSE -->Serials <!-- /TMPL_IF --> </div>

<div id="doc3" class="yui-t2">

   <div id="bd">
        <div id="yui-main">
        <div class="yui-b">


    <form action="/cgi-bin/koha/serials/serials-home.pl" method="post">
	<fieldset class="rows">
	    <legend>Serials advanced search:</legend>
	    <ol>
                <li><label for="title">Title: </label> <input type="text" name="title_filter" id="title_filter" value="<!-- TMPL_VAR name="title"-->" /></li>
                <li><label for="branch_filter">Library: </label> 
		    <select name="branch_filter">
			<!-- TMPL_LOOP name="branchloop" -->
			<option value="<!-- TMPL_VAR name="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="branchname" --></option>
			<!-- /TMPL_LOOP -->
		    </select>
		</li>
	    </ol>
	</fieldset>
	<input type="hidden" value="1" name="routing">
	<input type="hidden" value="1" name="searched">
	<fieldset class="action"><input type="submit" value="Search" /></fieldset>
    </form>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
