<!-- TMPL_INCLUDE NAME="opac-top.inc" -->
<!--CONTENT-->
<div id="mainbloc">
<h1><!--+Katipo+start name="pageheading"-->Horowhenua Library Trust Database Resources<!--+Katipo+end--></h1>
<!--+Katipo+start name="maintext"-->

<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Caption summary" id="noborder">
  <tr> 
    <td width="100%" valign="top" class="copy"><div id="copy"> 

<p>Horowhenua Library Trust has made these databases available to members.</p>
<p><a href="http://www.fis.org.nz/databases/FundView.php">FundView</a><br>
FundView is a searchable database for voluntary organisations and contains over 600 different funding schemes.</p>

<p><a href="http://www.fis.org.nz/databases/BreakOut.php">BreakOut</a><br>Scholarships, awards and grants for individuals looking for funding for study and professional development.</p>

<p><a href="http://proquest.umi.com/login/refurl">ProQuest Online Databases</a></p>

<p class="box">Horowhenua Library Trust has joined with over 170 New Zealand Libraries to be apart of EPIC (Electronic Purchasing in Collaboration). EPIC gives you access to thousands of high quality electronic publications, including NZ and international full-text journals, newspapers, magazines, photographs and graphics.<br><br>
Want to learn more? Click on any of the links below, enter your library card number and search! </p>
<p><a href="http://search.ebscohost.com/login.aspx?authtype=url">Australia/New Zealand Reference Centre - EBSCO</a> <br>
The Reference Centre database gives you access to abstracts and articles from international, Australian, and New Zealand magazines and newspapers. It is an excellent resource for those requiring up-to-date world, Australian and New Zealand current events information. </p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=BioRC-3">Biography Resource Centre - Gale</a><br>
This database contains an extensive range of contemporary and historical biographies of notable people including some New Zealanders. It is searchable by name, nationality, and occupation. </p>
<p><br><strong> Business Reference Suite - Gale</strong><br>
Search across three related business and industry focussed databases: </p>
<blockquote>
	<p><a href="http://search.rdsinc.com/texis/rds/sessions?userid=per_hlt&products=BNI">Business and Industry</a></strong> a multi-industry database with a global focus on company, industry and product information.</p>
	<p><a href="http://search.rdsinc.com/texis/rds/sessions?userid=per_hlt&products=BMP">Business and Management Practices</a></strong> in depth information on the processes, methods and strategies of managing a business. </p>
	<p><a href="http://search.rdsinc.com/texis/rds/sessions?userid=per_hlt&products=TBL">TableBase</a></strong> provides access to thousands of hard-to-find tables of data for more than 90 industries.</p>
</blockquote>
<p><a href="http://search.rdsinc.com/texis/rds/sessions?userid=per_hlt&products=CWI"> Contemporary Women's Issues - Gale</a></strong><br>
This contains a huge range of articles and reports on women's issues from professional and popular journals, and newspapers. It can be also searched by subject, for example, gender equity. </p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=DC">Discovering Collection - Gale</a><br>
This comprehensive database allows for searching under a range of subjects including history, literature, geography, and biographies. There is also a multimedia gallery containing photographs, graphs, maps, and sound and video clips.</p>
<p><a href="http://www.library.ebonline.co.nz/">Encyclopaedia Britannica Online</a><br>
Search the online version of Encyclop&#230;dia Britannica - including Britannica's Student Encyclop&#230;dia, Elementary Encyclop&#230;dia for younger students, and the Britannica Concise Encyclop&#230;dia.   Includes current events, pictures and links to relevant Internet resources.</p>
<p><a href="http://www.groveart.com">Grove Art</a><br>
Search and explore the full-text of this authoritative dictionary of art. It covers visual  arts  from painting, to graphic arts, to architecture and more!</p>
<p><a href="http://www.grovemusic.com">Grove Music</a><br>
Explore this full-text dictionary on all aspects of music worldwide - from classical to hip-hop and from baroque to blues.</p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=HWRC-3">Health and Wellness Resource Centre and Alternative Health module - Gale</a><br>
This database provides authoritative answers to health and medical questions from a huge range of over 700 health/medical journals and pamphlets. It covers topics like mainstream and alternative medicines, nutrition, diet, fitness, and disease. It also includes an online medical encyclopedia and links to relevant websites.</p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=History">History Resource Centre - Modern World - Gale</a><br>
Search this database for 20th century history topics history relating to America. It features full text articles from over 100 history journals, and includes primary documents, maps, and images. </p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=ITOF">InfoTrac OneFile - Gale</a><br>
Containing 35 million articles and updated daily, InfoTrac is an ideal general research tool with huge topic coverage from contemporary art to science. Articles are available from a wide range of overseas magazines and newspapers. </p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=LitRC-31">Literature Resource Center - Gale</a><br>
This database contains critical essays and biographical information on over 100,000 authors, both historical and contemporary. A superb and comprehensive resource for students. It also includes information on major New Zealand authors.</p>
<p><a href="http://search.ebscohost.com/login.aspx?authtype=ip&profile=f5h">MasterFILE Premier - EBSCO</a><br>
This collection provides full text access to articles from over 2000 major international publications such as Time, Newsweek, and New Scientist. It also includes reference and travel works, image collection, biographies and book reviews. Covering virtually every subject area, MasterFILE is ideal for general research enquiries.</p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=OVRC">Opposing Viewpoints Resource Center - Gale</a><br>
Useful database for exploring popular social issues. Opposing Viewpoints is ideal for those wanting information covering both sides of contemporary issues like the GE debate. Includes topical overviews and point-of-view articles. An excellent resource for those wishing to do in-depth investigations about major contentious topics.</p>
<p><a href="http://dictionary.oed.com/entrance.dtl">Oxford English Dictionary</a><br>
A searchable online version of the Oxford English Dictionary. Includes the full text of the  20-volume Second Edition, 45,000 new and revised words resulting from the editorial revision  programme and at least 2,500  additional new and revised words every 3 months.</p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=SRCCE-1">Student Resource Center - College Edition Expanded- Gale</a><br>
The Student Resource centre provides cross-curricular information suitable for senior secondary school students. Students can search topics including history, literature, geography, and biographies. Also available is a multimedia gallery containing photographs, graphs, maps, and sound and video clips. </p>
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=GVRL">Virtual Reference Suite</a><br>
Explore a collection of encyclopedias, almanacs and reference sources. Subjects  include health, war, pollution, history, space science, maths, occult,  food and fashion.</p><!--
<p><a href="http://infotrac.galegroup.com/itweb/per_hlt?db=WDIRN">What do I read next? - Gale</a><br>
This excellent database helps you identify new books to read. Covers adult and young adult as well as children's fiction and nonfiction. Searching is by author, title, subject, genre, character, and topic. What Do I Read Next? also contains an extensive selection of award winning books, over 50,000 plot summaries and promotions for upcoming titles. </p>
-->
      </div></td>
    <td width="160" valign="top" class="sponsor"><div id="sponsor">
      <h4><img src="/images/holder.gif" width="160" height="1" alt=""></h4>
	  <!--<br>
        <a href="/cgi-bin/koha/opac-epic.pl?type=subject">View Resources by Subject</a>-->
      <p>Please Note - By following the links below you agree to the following statement:</p>
      <p class="box">&quot;These databases are protected by copyright. They are provided by Horowhenua Library Trust for use by individuals who are registered Horowhenua Library Trust staff and patrons for the purposes of personal use or for research in a corporate, business, academic or government setting. By accessing these databases you agree to these terms and conditions of usage. Your continued access to and usage of these databases indicates your agreement to abide by these terms and conditions.&quot;</p>
      </div></td>
  </tr>
  <!--tr> 
    <td colspan="3" class="foot"><br/></td>
  </tr-->
</table>


<!--+Katipo+end-->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->

