<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; Browse by author or subject
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-authorities">
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
   <div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

<div id="yui-main">
<div class="yui-b">
<div class="yui-g">
<div id="authorities" class="container">
    <form action="/cgi-bin/koha/opac-authorities-home.pl" method="get">
        <input type="hidden" name="op" value="do_search" />
        <input type="hidden" name="searchtype" value="all_headings" />
        <fieldset class="rows">
            <legend>Browse by author or subject</legend>
            <ol>
                <li>
                    <label for="anywhere">Search: </label>
                    <select name="authtypecode" id="authtypecode">
                        <option value="">All Authority Types</option>
                        <!-- TMPL_LOOP NAME="authtypesloop" -->
                            <!-- TMPL_IF name="selected" -->
                                <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="authtypetext" --></option>
                            <!-- TMPL_ELSE -->
                                <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="authtypetext" --></option>
                            <!-- /TMPL_IF -->
                        <!-- /TMPL_LOOP -->
                    </select>
                    <input id="value_anywhere" type="text" name="value" value="<!-- TMPL_VAR NAME="value" -->" />
                </li>
                <li>
                    <label for="orderby">Order by: </label>
                    <select name="orderby">
                        <option value="score desc" selected="selected">Relevance</option>
                        <option value="<!-- TMPL_VAR NAME='name_index_name' --> asc">Name asc</option>
                        <option value="<!-- TMPL_VAR NAME='name_index_name' --> desc">Name desc</option>
                        <option value="<!-- TMPL_VAR NAME='usage_index_name' --> asc">Usage asc</option>
                        <option value="<!-- TMPL_VAR NAME='usage_index_name' --> desc">Usage desc</option>
                     </select>
                </li>
            </ol>
        </fieldset>
        <fieldset class="action">
            <input type="submit" value="Submit" class="submit" />
        </fieldset>
    </form>

</div>
</div>
</div>
</div>
<!-- TMPL_IF NAME="OpacNav" -->
<div class="yui-b">
<div class="container">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
</div>
</div><!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
