<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo; <!-- TMPL_IF name="total" -->Authority Search Result<!-- TMPL_ELSE -->No results found<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body id="opac-authoritiesresultlist">
<!-- TMPL_IF NAME="OpacNav" --><div id="doc3" class="yui-t1"><!-- TMPL_ELSE --><div id="doc3" class="yui-t7"><!-- /TMPL_IF -->
    <div id="bd">
        <!-- TMPL_INCLUDE name="masthead.inc" -->

        <div id="yui-main">
        <div class="yui-b"><div class="yui-g">
        <div class="container">
            <h1>Authority search results</h1>

            <div id="results">
                <!-- TMPL_IF name="total" -->
                    <b><!-- TMPL_VAR NAME="total" --> results</b>
                    <!-- TMPL_INCLUDE NAME="page-numbers.inc" -->
                <!-- TMPL_ELSE -->
                    No results found.
                <!-- /TMPL_IF -->
            </div>
            <!-- TMPL_IF NAME="result" -->
                <div id="resultlist">
                <table>
                    <tr>
                        <th>Authorized Headings</th>
                        <th>Type of Heading</th>
                        <!-- TMPL_UNLESS name="isEDITORS" -->
                            <th>Biblio records</th>
                        <!-- /TMPL_UNLESS -->
                        <th>Full Heading</th>
                    </tr>
                    <!-- TMPL_LOOP NAME="result" -->
                        <tr>
                            <td><!-- TMPL_VAR NAME="summary" --></td>
                            <td><!-- TMPL_VAR NAME="authtype" --></td>
                            <!-- TMPL_UNLESS name="isEDITORS" -->
                            <td><a href="/cgi-bin/koha/opac-search.pl?type=opac&amp;op=do_search&amp;q=*:*&filters=<!-- TMPL_VAR NAME=authid_index_name -->:<!--TMPL_VAR Name="authid" -->"><!-- TMPL_VAR NAME="used" --> biblios</a></td>
                            <!-- /TMPL_UNLESS -->
                            <td><a href="opac-authoritiesdetail.pl?authid=<!-- TMPL_VAR NAME="authid" -->">View Full Heading</a></td>
                        </tr>
                    <!-- /TMPL_LOOP -->
                </table>
            </div>
            <!-- TMPL_INCLUDE NAME="page-numbers.inc" -->
            <!-- /TMPL_IF -->
        </div>
        </div>
        </div>
    </div>

<!-- TMPL_IF NAME="OpacNav" -->
    <div class="yui-b">
        <div class="container"><!--TMPL_INCLUDE NAME="navigation.inc" --></div>
    </div>
<!-- /TMPL_IF -->

</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
