<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Issuing Rules</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/jquery.uitablefilter.js"></script>
<script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/plugins/ui.tabs.js"></script>
<link rel="stylesheet" type="text/css" href="/intranet-tmpl/prog/en/lib/jquery/plugins/ui.tabs.css" />
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
        $('#selectlibrary').find("input:submit").hide();
        $('#branchcode').change(function() {
                $('#selectlibrary').submit();
        });
        $('#filter').keyup(function() {
                $.uiTableFilter( $('#smartrules'), this.value );
        });
        $('#nofilter').click(function() {
            $('.issues').show();
            $('.fines').show();
            $('.reserves').show();
            $('.issues :input').removeAttr('disabled',true);
            $('.fines :input').removeAttr('disabled',true);
            $('.reserves :input').removeAttr('disabled',true);
            $(this).parent().attr('class','ui-tabs-selected');
            $('#issuesfilter').parent().attr('class',null);
            $('#finesfilter').parent().attr('class',null);
            $('#reservesfilter').parent().attr('class',null);
        });
        $('#issuesfilter').click(function() {
            $('.issues').show();
            $('.fines').hide();
            $('.reserves').hide();
            $('.issues :input').removeAttr('disabled',true);
            $('.fines :input').attr('disabled',true);
            $('.reserves :input').attr('disabled',true);
            $(this).parent().attr('class','ui-tabs-selected');
            $('#nofilter').parent().attr('class',null);
            $('#finesfilter').parent().attr('class',null);
            $('#reservesfilter').parent().attr('class',null);
        });
        $('#finesfilter').click(function() {
            $('.issues').hide();
            $('.fines').show();
            $('.reserves').hide();
            $('.issues :input').attr('disabled',true);
            $('.fines :input').removeAttr('disabled',true);
            $('.reserves :input').attr('disabled',true);
            $(this).parent().attr('class','ui-tabs-selected');
            $('#issuesfilter').parent().attr('class',null);
            $('#nofilter').parent().attr('class',null);
            $('#reservesfilter').parent().attr('class',null);
        });
        $('#reservesfilter').click(function() {
            $('.issues').hide();
            $('.fines').hide();
            $('.reserves').show();
            $('.issues :input').attr('disabled',true);
            $('.fines :input').attr('disabled',true);
            $('.reserves :input').removeAttr('disabled',true);
            $(this).parent().attr('class','ui-tabs-selected');
            $('#issuesfilter').parent().attr('class',null);
            $('#finesfilter').parent().attr('class',null);
            $('#nofilter').parent().attr('class',null);
        });

        // Inline editor
        var editor = false;
        $('#smartrules>tbody>tr>td.editable').click(function() {
            if ( ! editor ) {
                var td = $(this);
                var tdvalue = td.text().trim();
                td.text('');

                var type;
                if ( $.inArray('boolean', td.attr('class').split(' ')) != -1 ) { // If the td is boolean, we display a checkbox
                    editor = $('<input id="inlineeditor" type="checkbox" /\>');
                    editor.attr('checked', tdvalue == 'Yes' ? 'checked' : '');
                    type = 'boolean';
                } else if ( $.inArray('triple', td.attr('class').split(' ')) != -1 ) { // else if it is a triple, we display a listbox
                    var selectedn = tdvalue ==  ''   ? 'selected="selected"' : '';
                    var selected1 = tdvalue == 'Yes' ? 'selected="selected"' : '';
                    var selected0 = tdvalue == 'No'  ? 'selected="selected"' : '';
                    var str  = '<select id="inlineeditor">';
                        str += '<option value=""  ' + selectedn + '></option>';
                        str += '<option value="1" ' + selected1 + '>Yes</option>';
                        str += '<option value="0" ' + selected0 + '>No</option>';
                        str += '</select>';
                    editor = $(str);
                    type = 'triple';
                } else { // else we display a textbox
                    editor = $('<input id="inlineeditor" type="text" size="4" /\>');
                    editor.attr('value', tdvalue);
                }

                editor.focus();

                editor.keyup(function(e) {   // on press
                    if ( e.keyCode == 13 ) { // enter

                        // let's build the atomic rule
                        var branchcode   = $('#branchcode').val();
                        var categorycode = td.parent().children('td.categorycode').children('span').text();
                        var itemtype     = td.parent().children('td.itemtype').children('span').text();
                        var varname      = td.attr('class').split(' ')[0];
                        var inputvalue;
                        switch ( type ) {
                            case 'boolean':
                                inputvalue = editor.attr('checked') ? 1 : 0;
                                break;
                            default:
                                inputvalue = editor.val();
                                break;
                        }

                        // post it to the server
                        $.ajax({
                            url: '/cgi-bin/koha/admin/smart-rules-service.pl',
                            type: "POST",
                            async: false,
                            data: "branchcode="+branchcode+"&categorycode="+categorycode+"&itemtype="+itemtype+"&varname="+varname+"&inputvalue="+inputvalue,
                            success: function(result) {

                                // repopulate the td with data
                                switch ( type ) {
                                    case 'boolean':
                                        td.text(result == '1' ? 'Yes' : 'No');
                                        break;
                                    case 'triple':
                                        switch ( result ) {
                                            case '' : td.text('');    break;
                                            case '1': td.text('Yes'); break;
                                            case '0': td.text('No');  break;
                                        }
                                        break;
                                    default:
                                        td.text(result);
                                        break;
                                }

                                editor.remove();
                                editor = false;
                            }
                        });
                    }
                });

                td.append(editor);
            }
        });
});
//]]>
</script>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; Issuing Rules</div>

<div id="doc3" class="yui-t1">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    <h1 class="parameters">
        <!-- TMPL_IF NAME="humanbranch" -->
            Defining issuing rules for "<!-- TMPL_VAR NAME="humanbranch" -->"
        <!-- TMPL_ELSE -->
            Defining default issuing rules
        <!-- /TMPL_IF -->
    </h1>
    <div id="bloc100">
        <form method="get" action="/cgi-bin/koha/admin/smart-rules.pl" id="selectlibrary">
        Select a library :
            <select name="branchcode" id="branchcode" style="width:20em;">
                <option value="*">Default</option>
            <!-- TMPL_LOOP NAME="branchloop" -->
                <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option><!-- TMPL_ELSE --><option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option><!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </select>
        </form>
<!-- TMPL_IF Name="definedbranch" --><form action="/cgi-bin/koha/admin/clone-rules.pl" method="post"><label for="tobranch"><strong>Clone these rules to:</strong></label> <input type="hidden" name="frombranch" value="<!-- TMPL_VAR NAME="branch" -->" />
            <select name="tobranch" id="tobranch"><!-- TMPL_LOOP NAME="branchloop" --><option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option><!-- /TMPL_LOOP --></select> <input type="submit" value="Clone" /></form><!-- /TMPL_IF --></fieldset>

        <div class="toptabs">
            <ul class="ui-tabs-nav">
                <li class="ui-tabs-selected"><a id="nofilter">All</a></li>
                <li><a id="issuesfilter">Issues</a></li>
                <li><a id="finesfilter">Fines</a></li>
                <li><a id="reservesfilter">Reserves</a></li>
                <div style="text-align:right;">
                    <label for="filter" style="float:none;">Filter: </label>
                    <input type="text" name="filter" id="filter" />
                </div>
            </ul>
            <div class="tabs-container">
                    <table id="smartrules" width="100%">
                        <thead>
                            <tr>
                                <th>Patron category</th>
                                <th>Item type</th>
                                <th class="issues">Current checkouts allowed</th>
                                <th class="issues">Loan period (day)</th>
                                <th class="fines">Fine amount</th>
                                <th class="fines">Fine charging interval</th>
                                <th class="fines">Grace period (day)</th>
                                <th class="fines">Suspension duration (day)</th>
                                <th class="issues">Renewals allowed (count)</th>
                                <th class="issues">Renewals period (days)</th>
                                <th class="reserves">Holds allowed (count)</th>
                                <th class="reserves">Holds pickup delay (day)</th>
                                <th class="reserves">Allow on shelf holds</th>
                                <th class="reserves">Holds restricted to library</th>
                                <th class="issues">Rental Discount (%)</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- TMPL_LOOP NAME="rules" -->
                            <!-- TMPL_UNLESS NAME="__odd__" -->
                            <tr class="highlight">
                            <!-- TMPL_ELSE -->
                            <tr>
                            <!-- /TMPL_UNLESS -->
                                    <td class="categorycode">
                                        <span style="display:none;"><!-- TMPL_VAR NAME="categorycode" --></span>
                                        <!-- TMPL_IF NAME="default_humancategorycode" -->
                                            <em>Default</em>
                                        <!-- TMPL_ELSE -->
                                            <!-- TMPL_VAR NAME="humancategorycode" -->
                                        <!-- /TMPL_IF -->
                                    </td>
                                    <td class="itemtype">
                                        <span style="display:none;"><!-- TMPL_VAR NAME="itemtype" --></span>
                                        <!-- TMPL_IF NAME="default_humanitemtype" -->
                                            <em>Default</em>
                                        <!-- TMPL_ELSE -->
                                            <!-- TMPL_VAR NAME="humanitemtype" -->
                                        <!-- /TMPL_IF -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_maxissueqty" -->
                                    <td class="maxissueqty editable issues herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="maxissueqty editable issues">
                                    <!-- /TMPL_IF -->
                                        <!-- TMPL_IF NAME="unlimited_maxissueqty" -->
                                            Unlimited
                                        <!-- TMPL_ELSE -->
                                            <!-- TMPL_VAR NAME="maxissueqty" -->
                                        <!-- /TMPL_IF -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_issuelength" -->
                                    <td class="issuelength editable issues herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="issuelength editable issues">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="issuelength" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_fine" -->
                                    <td class="fine editable fines herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="fine editable fines">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="fine" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_chargeperiod" -->
                                    <td class="chargeperiod editable fines herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="chargeperiod editable fines">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="chargeperiod" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_firstremind" -->
                                    <td class="firstremind editable fines herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="firstremind editable fines">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="firstremind" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_finedays" -->
                                    <td class="finedays editable fines herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="finedays editable fines">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="finedays" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_renewalsallowed" -->
                                    <td class="renewalsallowed editable issues herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="renewalsallowed editable issues">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="renewalsallowed" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_renewalperiod" -->
                                    <td class="renewalperiod editable issues herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="renewalperiod editable issues">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="renewalperiod" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_reservesallowed" -->
                                    <td class="reservesallowed editable reserves herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="reservesallowed editable reserves">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="reservesallowed" -->
                                    </td>
                                     <!-- TMPL_IF NAME="herited_holdspickupdelay" -->
                                    <td class="holdspickupdelay editable reserves herited">
                                    <!--TMPL_ELSE-->
                                    <td class="holdspickupdelay editable reserves">
                                    <!--/TMPL_IF-->
                                    <!-- TMPL_VAR NAME="holdspickupdelay" -->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_allowonshelfholds" -->
                                    <td class="allowonshelfholds editable reserves triple herited">
                                    <!--TMPL_ELSE-->
                                    <td class="allowonshelfholds editable reserves triple">
				    <!--/TMPL_IF-->
                                    <!-- TMPL_IF NAME="allowonshelfholds" -->
                                    Yes
                                    <!--TMPL_ELSE-->
                                    No
                                    <!--/TMPL_IF-->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_holdrestricted" -->
                                    <td class="holdrestricted editable reserves triple herited">
                                    <!--TMPL_ELSE-->
                                     <td class="holdrestricted editable reserves triple">
                                    <!--/TMPL_IF-->
                                    <!-- TMPL_IF NAME="holdrestricted" -->
                                    Yes
                                    <!--TMPL_ELSE-->
                                    No
                                    <!--/TMPL_IF-->
                                    </td>
                                    <!-- TMPL_IF NAME="herited_rentaldiscount" -->
                                    <td class="rentaldiscount editable issues herited">
                                    <!-- TMPL_ELSE -->
                                    <td class="rentaldiscount editable issues">
                                    <!-- /TMPL_IF -->
                                    <!-- TMPL_VAR NAME="rentaldiscount" -->
                                    </td>
                                    <td>
                                        <a class="button" href="/cgi-bin/koha/admin/smart-rules.pl?op=delete&amp;itemtype=<!-- TMPL_VAR NAME="itemtype" -->&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->&amp;branchcode=<!-- TMPL_VAR NAME="branchcode" -->">Delete</a>
                                    </td>
                                </tr>
                            <!-- /TMPL_LOOP -->
                        </tbody>
                        <form method="post" name="inputrules" action="/cgi-bin/koha/admin/smart-rules.pl">
                            <input type="hidden" name="op" value="add" />
                            <tfoot>
                                <tr>
                                    <td>
                                        <select name="categorycode" id="categorycode" style="width:12em;">
                                            <option value="*">Default</option>
                                        <!-- TMPL_LOOP NAME="categoryloop" -->
                                            <!-- TMPL_IF Name="selected"-->
                                            <option value="<!-- TMPL_VAR NAME="categorycode" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                                            <!--TMPL_ELSE --> <option value="<!-- TMPL_VAR NAME="categorycode" -->" ><!-- TMPL_VAR NAME="description" --></option>
                                            <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                        </select>
                                    </td>
                                    <td>
                                        <select name="itemtype" style="width:12em;">
                                            <option value="*">Default</option>
                                        <!-- TMPL_LOOP NAME="itemtypeloop" -->
                                            <!-- TMPL_IF Name="selected"-->
                                            <option value="<!-- TMPL_VAR NAME="itemtype" -->" selected="selected"><!-- TMPL_VAR NAME="description" --></option>
                                            <!--TMPL_ELSE --> <option value="<!-- TMPL_VAR NAME="itemtype" -->"><!-- TMPL_VAR NAME="description" --></option>
                                            <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                        </select>
                                    </td>
                                    <td class="issues"><input name="maxissueqty" size="3" value="<!-- TMPL_VAR NAME="maxissueqty" -->"/></td>
                                    <td class="issues"><input name="issuelength" size="3" value="<!-- TMPL_VAR NAME="issuelength" -->"/> </td>
                                    <td class="fines"><input name="fine" size="4" value="<!-- TMPL_VAR NAME="fine" -->"/></td>
                                    <td class="fines"><input name="chargeperiod" size="2" value="<!-- TMPL_VAR NAME="chargeperiod" -->"/></td>
                                    <td class="fines"><input name="firstremind" size="2" value="<!-- TMPL_VAR NAME="firstremind" -->"/> </td>
                                    <td class="fines"><input name="finedays" size="3" value="<!-- TMPL_VAR NAME="finedays" -->"/> </td>
                                    <td class="issues"><input name="renewalsallowed" size="2" value="<!-- TMPL_VAR NAME="renewalsallowed" -->"/></td>
                                    <td class="issues"><input name="renewalperiod" size="2" value="<!-- TMPL_VAR NAME="renewalperiod" -->"/></td>
                                    <td class="reserves"><input name="reservesallowed" size="2" value="<!-- TMPL_VAR NAME="reservesallowed" -->"/></td>
                                    <td class="reserves"><input name="holdspickupdelay" size="2" value="<!-- TMPL_VAR NAME="holdspickupdelay" -->"/></td>
                                    <td class="reserves">
                                        <select name="allowonshelfholds">
                                            <option value=""></option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </td>
                                    <td class="reserves">
                                            <select name="holdrestricted">
                                                <option value=""></option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                           </select>
                                   </td>
		                            <td class="issues"><input name="rentaldiscount" size="2" /></td>
                                    <td><input type="hidden" name="branchcode" value="<!-- TMPL_VAR NAME="branchcode" -->"/><input type="submit" value="Add" class="submit" /></td>
                                </tr>
                            </tfoot>
                        </form>
                    </table>
            </div><!-- tabs-container -->
        </div><!-- toptabs -->
    </div>
</div>

</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
