<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Upload plugin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="<!-- TMPL_VAR NAME="yuipath" -->/utilities/utilities.js"></script> 
    <link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/staff-global.css" />

</head>
<body>
<!-- TMPL_IF NAME="success" -->

    <script type="text/javascript">
        function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME="index" -->");
            field.value =  "<!-- TMPL_VAR NAME="uploaded_file" -->";
            window.close();
            return false;
        }
    </script>


    The file <!-- TMPL_VAR NAME="uploaded_file" --> has been successfully added.
    <p><input type="button" value="close" onclick="javascript:report();" /></p>

<!-- TMPL_ELSE -->

    <!-- TMPL_IF NAME="error" -->
	Error: <!-- TMPL_VAR NAME="error" -->
	<p><input type="button" value="close" onclick="javascript:window.close();" /></p>
    <!-- TMPL_ELSE -->

	<!-- TMPL_IF NAME="uploaded_file" -->
	uploaded file: <!-- TMPL_VAR NAME="uploaded_file" -->
	<!-- TMPL_ELSE -->
	    <h2>Please select the file to upload : </h2>
	    <form method="post" enctype="multipart/form-data" action="/cgi-bin/koha/cataloguing/plugin_launcher.pl">
		<!-- TMPL_VAR NAME="filefield" -->
		<input type="hidden" name="plugin_name" value="upload.pl" />
		<input type="hidden" name="index" value="<!-- TMPL_VAR NAME="index" -->" />
		<input type="submit">
	    </form>
	<!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
<!-- /TMPL_IF -->

</body>
</html>
